.DS_Store
node_modules
/dist
cleaner-8740d-firebase-adminsdk-kw5uv-1a6aa8910d.json
authenticate.mjs
token.json
gCloudCreds.json
pageToken.json

clean.mjs
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
